<h1>Profile Page of user</h1>
<img src="<%= user.avatar %>" alt="<%=user.name %>" width="100">
<% if(user !== undefined) { %>
    
    <form action="/users/updates/<%= user.id %>"enctype="multipart/form-data" method="POST">
        <input type="email" name="email" placeholder="Your email"  value="<%= user.email %>" required >
        <input type="text" name="name" placeholder="Name"  value="<%= user.name %>" required >
        <input type="file" name="avatar" placeholder="Profile Picture" >
        <input type="submit" value="Update" >
    </form>
 
<p>Name :<%= user.name %></p>
<p>Email :<%= user.email %></p>



<% } %>  